<footer class="footer">
    <div class="footer__container container">
        <div class="footer__social-networks">
            <h3>NUESTRAS REDES SOCIALES</h3>
            <div>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-x-twitter"></i>
            </div>
        </div>
        <div class="footer__contacto">
            <h3>CONTACTO</h3>
            <p><i class="fa-solid fa-envelope"></i>goldeoro@gmail.com</p>
            <p><i class="fa-brands fa-square-whatsapp"></i>9876543984</p>
            <p><i class="fa-solid fa-compass"></i>Alsina 531</p>
        </div>
        <div class="footer__methods">
            <div>
                <h3>MEDIOS DE PAGO</h3>
                <img src="images/mediospago.png" alt="imagen medios de pago">
            </div>
        </div>
    </div>
</footer>