<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/carritocompras.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Gol de Oro - Home</title>
</head>

<body>
    <header class="header">
        <div class="header__top-container container">
            <a href="/" class="header__logo_link"><img src="images/logo-goldeoro.png" alt="imagen logo"
                    class="header__logo"></a>
            <form action="" class="header__top-form">
                <input type="text" class="search-bar" placeholder="Buscar productos, marcas y más">
                <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            </form>
            <div class="header__manage-account">
                <a href="#">Iniciar Sesión<i class="fas fa-sign-in-alt"></i></a>
                <a href="#">Registrarse<i class="far fa-id-card"></i></a>
            </div>
        </div>
        <nav class="nav">
            <div class="nav__container container">
                <a href="" class="nav__item">Inicio</a>
                <a href="" class="nav__item">Productos</a>
                <a href="" class="nav__item">Clubes Argentinos</a>
                <a href="" class="nav__item">Clubes Europeos</a>
                <a href="" class="nav__item">Selecciones Nacionales</a>
                <a href="" class="nav__item">Otros</a>
            </div>
        </nav>
    </header>
    <div class="contenedor">
        <div class="productos">
        <h4>MI CARRITO</h4>
            <div class="producto">
                <img src="\images\camiseta-boca.png" alt="Camiseta Boca Juniors" class="producto-imagen">
                <div class="descripcion-producto">
                    <span>Camiseta Boca Juniors</span>
                    <span>$40.00</span>
                    <button class="btn-mas">+</button>
                    <i class="fa-solid fa-1"></i>
                    <button class="btn-menos">-</button>
                    <button class="btn-borrar">Borrar<i class="fas fa-trash-alt"></i>
                    </button> 

                </div>
            </div>
            <div class="producto">
                <img src="\images\camiseta-bournemounth.png" alt="Otro Producto" class="producto-imagen">
                <div class="descripcion-producto">
                    <span>Camiseta Bournemounth</span>
                    <span>$40.00</span>
                    <button class="btn-mas">+</button>
                    <i class="fa-solid fa-1"></i>
                    <button class="btn-menos">-</button>
                    <button class="btn-borrar">Borrar <i class="fas fa-trash-alt"></i>
                    </button>  
            

              
                </div>
            </div>
        </div>
    

        <div class="resumen">
            <div class="subtotal">
                <span>Subtotal:</span>
                <span>$80.00</span>
            </div>
            <a href="tu_pagina_destino.html" class="enlace-envio">
                <h5>Agregar cupon de descuento</h5>
              </a>
            <div class="total">
                <span>Total:</span>
                <span>$80.00</span>
            </div>

            <div class="medios-pago">
                <h2>Métodos de Pago:</h2>
                <ul>
                    <li>
                        <label>
                            <span>Tarjeta de crédito</span>
                            <i class="fa-regular fa-credit-card"></i>
                            <input type="checkbox" name="metodoPago" value="tarjetaCredito">
                        </label>
                    </li>
                    <li>
                        <label>
                            <span>Transferencia</span>
                            <i class="fa-solid fa-money-bill-transfer"></i>
                            <input type="checkbox" name="metodoPago" value="transferencia">
                        </label>
                    </li>
                </ul>
            </div>
            <a href="tu_pagina_destino.html" class="enlace-envio">
                <h5>Calcular costo de envío</h5>
              </a>
         <button class="boton-pagar">Pagar</button>    
            
            
        </div>
    </div>

    <footer class="footer">
        <div class="footer__container container">
            <div class="footer__social-networks">
                <h3>NUESTRAS REDES SOCIALES</h3>
                <div>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-square-x-twitter"></i>
                </div>
            </div>
            <div class="footer__contacto">
                <h3>CONTACTO</h3>
                <p><i class="fa-solid fa-envelope"></i>goldeoro@gmail.com</p>
                <p><i class="fa-brands fa-square-whatsapp"></i>9876543984</p>
                <p><i class="fa-solid fa-compass"></i>Alsina 531</p>
            </div>
            <div class="footer__methods">
                <div>
                    <h3>MEDIOS DE PAGO</h3>
                    <img src="images/mediospago.png" alt="imagen medios de pago">
                
                </div>
            </div>
        </div>
    </footer>

</body>

</html>