<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet"> 
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <title>Gol de Oro - Home</title>
    </head>
    <body>
        <header class="header">
            <div class="logo__mobile">
                <a href="/" class="header__logo_link"><img src="images/logo-goldeoro.png" alt="imagen logo" class="header__logo-mobile"></a>
            </div>
            <div class="header__top-container container">
                <a href="/" class="header__logo_link"><img src="images/logo-goldeoro.png" alt="imagen logo" class="header__logo"></a>
                <form action="" class="header__top-form">
                    <input type="text" class="search-bar" placeholder="Buscar productos, marcas y más">
                    <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
                </form>
                <div class="header__manage-account">
                    <a href="#">Iniciar Sesión<i class="fas fa-sign-in-alt"></i></a>
                    <a href="#">Registrarse<i class="far fa-id-card"></i></a>
                    <a href="#" class="carrito-compras"><i class="fas fa-shopping-basket icono-carrito"></i></a>
                </div>
                <div class="burger-menu">
                    <i class="fa fa-bars burger"></i>
                </div>
            </div>
            <nav class="nav">
                <div class="nav__container container">
                    <a href="" class="nav__item">Inicio</a>
                    <a href="" class="nav__item">Productos</a>
                    <a href="" class="nav__item">Clubes Argentinos</a>
                    <a href="" class="nav__item">Clubes Europeos</a>
                    <a href="" class="nav__item">Selecciones Nacionales</a>
                    <a href="" class="nav__item">Otros</a>
                </div>
            </nav>
            </section>
        </header>

        <main>
            <div class="detalleProducto">
                <div class="product-images">
                    <input type="radio" id="img1" name="slider" checked>
                    <input type="radio" id="img2" name="slider">
                    
                  
                    <div class="slides">
                      <div class="slide">
                        <img src="/public/images/camiseta-river.png" alt="Camiseta 1">
                      </div>
                      <div class="slide">
                        <img src="/public/images/camiseta-river.png" alt="Camiseta 2">
                      </div>
                      
                    </div>
                  
                    <label for="img1" class="nav-btn">&#9679;</label>
                    <label for="img2" class="nav-btn">&#9679;</label>
                  </div>
                  
              <div class="productoInfo">
                <h1>Nombre del Producto</h1>
                <p>Precio: $XX</p>
                <p>Cuotas: X cuotas de $X</p>
                <label for="size">Seleccionar Talle:</label>
                <select id="size">
                  <option value="small">S</option>
                  <option value="medium">M</option>
                  <option value="large">L</option>
                  <option value="extralarge">XL</option>
                </select>
                <button id="customize-button">Personalizar</button>
              </div>
            </div>
          
            <div class="productosRecientes">
              <h2>Productos Vistos Recientemente</h2>
              <div class="productosRecientes">
                <img src="/public/images/camiseta-arsenal.png" alt="Camiseta Arsenal 22/23">
                <p>Camiseta Arsenal 22/23</p>
              </div>
            </div>
          </main>

        <footer class="footer">
            <div class="footer__container container">
                <div class="footer__social-networks">
                    <h3>NUESTRAS REDES SOCIALES</h3>
                    <div>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-square-instagram"></i>
                        <i class="fa-brands fa-square-x-twitter"></i>
                    </div>
                </div>
                <div class="footer__contacto">
                    <h3>CONTACTO</h3>
                    <p><i class="fa-solid fa-envelope"></i>goldeoro@gmail.com</p>
                    <p><i class="fa-brands fa-square-whatsapp"></i>9876543984</p>
                    <p><i class="fa-solid fa-compass"></i>Alsina 531</p>
                </div>
                <div class="footer__methods">
                    <div>
                        <h3>MEDIOS DE PAGO</h3>
                        <img src="images/mediospago.png" alt="imagen medios de pago">
                    </div>
                </div>
            </div>
        </footer>

    </body>