<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Gol de Oro - Login</title>
    
</head>
<body>
    <h1>GOL DE ORO</h1>

    <div class="container">
        <form class="form-login">
            <h2>Iniciar Sesión</h2>
            <p>¿No eres miembro todavía? <a href="/">Crear cuenta</a></p>
            <input type="email" placeholder="Correo Electronico *" required>
            <input type="password" placeholder="Cotraseña *" pattern=".{6,}" title="La contraseña debe tener al menos 6 caracteres" required>
            <button type="submit">Iniciar Sesión</button>
            <p>Olvide mi contraseña</p>
        </form>


            </ul>
        </div>

    </div>

    <footer>
        <h3>NUESTRAS REDES SOCIALES</h3>
                    <div>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-square-instagram"></i>
                        <i class="fa-brands fa-square-x-twitter"></i>
                    </div>
                </div>
                <div class="footer__contacto">
                    <h3>CONTACTO</h3>
                    <p><i class="fa-solid fa-envelope"></i>goldeoro@gmail.com</p>
                    <p><i class="fa-brands fa-square-whatsapp"></i>9876543984</p>
                    <p><i class="fa-solid fa-compass"></i>Alsina 531</p>
                </div>
                <div class="footer__methods">
                    <div>
                        <h3>MEDIOS DE PAGO</h3>
                        <img src="images/mediospago.png" alt="imagen medios de pago">
    
    </footer>
</body>
</html>