<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {titulo:'Gol de Oro - Iniciar Sesi칩n', estilos: 'login.css'}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main">
        <div class="form__container">
            <div class="form__subtitle">
                <h2>Iniciar sesi칩n</h2>
                <p>No tienes una cuenta?  <a href="/login">Registrate</a></p>
                
            </div>
            <form action="">
                <input type="email" placeholder="Correo electronico" class="input__email">
                <input type="password" placeholder="Contrase침a">
                <input type="submit" value="Iniciar Sesi칩n">
            </form>

        </div>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>
