<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {titulo:'Gol de Oro - Registro', estilos:'registro.css'}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main">
        <div class="form__container">
            <div class="form__subtitle">
                <h2>Registrarse</h2>
                <p>¿Ya es usuario?   <a href="/login">Iniciar sesion</a></p>
                
            </div>
            <form action="">
                <div class="inputs__name-container">
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Apellido">
                </div>
                <input type="email" placeholder="Correo electronico" class="input__email">
                <input type="password" placeholder="Contraseña">
                <input type="password" placeholder="Confirmar contraseña">

                <p class="checkbox__label" for="">Al registrarse, acepta nuestros <a href="">Terminos y Condiciones</a> y <a href="">Politicas de privacidad</a></p>

                <input type="submit" value="Crear cuenta">
            </form>

        </div>
    </main>

    <footer class="footer">
        <div class="footer__container container">
            <div class="footer__social-networks">
                <h3>NUESTRAS REDES SOCIALES</h3>
                <div>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-square-x-twitter"></i>
                </div>
            </div>
            <div class="footer__contacto">
                <h3>CONTACTO</h3>
                <p><i class="fa-solid fa-envelope"></i>goldeoro@gmail.com</p>
                <p><i class="fa-brands fa-square-whatsapp"></i>9876543984</p>
                <p><i class="fa-solid fa-compass"></i>Alsina 531</p>
            </div>
            <div class="footer__methods">
                <div>
                    <h3>MEDIOS DE PAGO</h3>
                    <img src="images/mediospago.png" alt="imagen medios de pago">
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
