<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/registro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    rel="stylesheet"
    />
    <title>Gol de Oro - Registro</title>
</head>
<body>
    <header class="header">
        <div class="logo__mobile">
            <a href="/" class="header__logo_link"><img src="images/logo-goldeoro.png" alt="imagen logo" class="header__logo-mobile"></a>
        </div>
        <div class="header__top-container container">
            <a href="/" class="header__logo_link"><img src="images/logo-goldeoro.png" alt="imagen logo" class="header__logo"></a>
            <form action="" class="header__top-form">
                <input type="text" class="search-bar" placeholder="Buscar productos, marcas y más">
                <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            </form>
            <div class="header__manage-account">
                <a href="/login">Iniciar Sesión<i class="fas fa-sign-in-alt"></i></a>
                <a href="/registro">Registrarse<i class="far fa-id-card"></i></a>
                <a href="/carrito" class="carrito-compras"><i class="fas fa-shopping-basket icono-carrito"></i></a>
            </div>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </div>
        <nav class="nav">
            <div class="nav__container container">
                <a href="" class="nav__item">Inicio</a>
                <a href="" class="nav__item">Productos</a>
                <a href="" class="nav__item">Clubes Argentinos</a>
                <a href="" class="nav__item">Clubes Europeos</a>
                <a href="" class="nav__item">Selecciones Nacionales</a>
                <a href="" class="nav__item">Otros</a>
            </div>
        </nav>
    </header>

    <main class="main">
        <div class="form__container">
            <div class="form__subtitle">
                <h2>Registrarse</h2>
                <p>¿Ya es usuario?   <a href="/login">Iniciar sesion</a></p>
                
            </div>
            <form action="">
                <div class="inputs__name-container">
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Apellido">
                </div>
                <input type="email" placeholder="Correo electronico" class="input__email">
                <input type="password" placeholder="Contraseña">
                <input type="password" placeholder="Confirmar contraseña">

                <p class="checkbox__label" for="">Al registrarse, acepta nuestros <a href="">Terminos y Condiciones</a> y <a href="">Politicas de privacidad</a></p>

                <input type="submit" value="Crear cuenta">
            </form>

        </div>
    </main>

    <footer class="footer">
        <div class="footer__container container">
            <div class="footer__social-networks">
                <h3>NUESTRAS REDES SOCIALES</h3>
                <div>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-square-x-twitter"></i>
                </div>
            </div>
            <div class="footer__contacto">
                <h3>CONTACTO</h3>
                <p><i class="fa-solid fa-envelope"></i>goldeoro@gmail.com</p>
                <p><i class="fa-brands fa-square-whatsapp"></i>9876543984</p>
                <p><i class="fa-solid fa-compass"></i>Alsina 531</p>
            </div>
            <div class="footer__methods">
                <div>
                    <h3>MEDIOS DE PAGO</h3>
                    <img src="images/mediospago.png" alt="imagen medios de pago">
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
