<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {titulo:'Gol de Oro - Carrito', estilos:'carritocompras.css'}) %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main class="main">
            <div class="main__container">
                <div class="main__productos-container">
                    <div class="main__producto">
                        <div class="main__producto-img">
                            <img src="images/camiseta-arsenal.png" alt="camiseta seccion de producto">
                        </div>
                        <div class="main__producto-detalles">
                            <p>Camiseta de Arsenal <span>$33.000</span></p>
                            <div class="main__producto-cantidad">
                                <button><i class="fa-solid fa-plus"></i></button>
                                <p>1</p>
                                <button><i class="fa-solid fa-minus"></i></button>
                                <button><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="main__producto">
                        <div class="main__producto-img">
                            <img src="images/camiseta-arsenal.png" alt="camiseta seccion de producto">
                        </div>
                        <div class="main__producto-detalles">
                            <p>Camiseta de Arsenal <span>$33.000</span></p>
                            <div class="main__producto-cantidad">
                                <button><i class="fa-solid fa-plus"></i></button>
                                <p>1</p>
                                <button><i class="fa-solid fa-minus"></i></button>
                                <button><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="main__producto">
                        <div class="main__producto-img">
                            <img src="images/camiseta-arsenal.png" alt="camiseta seccion de producto">
                        </div>
                        <div class="main__producto-detalles">
                            <p>Camiseta de Arsenal <span>$33.000</span></p>
                            <div class="main__producto-cantidad">
                                <button><i class="fa-solid fa-plus"></i></button>
                                <p>1</p>
                                <button><i class="fa-solid fa-minus"></i></button>
                                <button><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="main__producto">
                        <div class="main__producto-img">
                            <img src="images/camiseta-arsenal.png" alt="camiseta seccion de producto">
                        </div>
                        <div class="main__producto-detalles">
                            <p>Camiseta de Arsenal <span>$33.000</span></p>
                            <div class="main__producto-cantidad">
                                <button><i class="fa-solid fa-plus"></i></button>
                                <p>1</p>
                                <button><i class="fa-solid fa-minus"></i></button>
                                <button><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main__detalles-container">
                    <div class="main__total-pago">
                        <p class="main__total"><span>Total: </span>$50.000</p>
                        <p class="main__subtotal"><span>Subtotal: </span>$50.000</p>
                        <div>
                            <p class="main__descuento"><span>Descuento: </span>$0</p>
                            <a href="#" class="main__cupon-descuento">Agregar cupon de descuento</a>
                        </div>
                        
                    </div>
                    <div class="main__metodo-pago">
                        <form action="">
                            <div class="metodo__pago-tarjeta">
                                <i class="fa-solid fa-credit-card"></i>
                                <label for="">Tarjeta de crédito</label>
                                <input type="checkbox" name="pago-tarjeta" id="pago-tarjeta" value="pago-tarjeta">
                            </div>
                            <div class="metodo__pago-transferencia">
                                <i class="fa-solid fa-money-bill-transfer"></i>
                                <label for="">Transferencia</label>
                                <input type="checkbox" name="pago-transferencia" id="pago-transferencia" value="pago-transferencia">
                            </div>
                            <div class="metodo__pago-efectivo">
                                <i class="fa-solid fa-money-bill"></i>
                                <label for="">Pago en efectivo</label>
                                <input type="checkbox" name="pago-efectivo" id="pago-efectivo" value="pago-efectivo">
                            </div>
                            <input type="submit" value="Realizar compra" class="main__button-pagar">
                        </form>
                    </div>
                    <a href="#" class="main__calcular-costo-envio">Calcular costo de envío</a>
                </div>
            </div>
        </main>

        <%- include('../partials/footer.ejs') %>
    </body>
</html>
