<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {titulo:'Gol de Oro - Detalle de producto', estilos:'detalleProducto.css'}) %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>  	
            <section class="main__detalle-producto">
                <div class="container main__detalle-producto-container">
                    <div class="container-imagenes">
                        <img src="/images/river-1.PNG" alt="Imagen camiseta river">
                        <img src="/images/river-2.PNG" alt="Imagen camiseta river">
                        <img src="/images/river-3.PNG" alt="Imagen camiseta river">
                        <img src="/images/river-1.PNG" alt="Imagen camiseta river">
                    </div>
                    <div class="detalles-productos-info">
                        <h2 class="detalle-nombre">Camiseta oficial River Plate temporada 2023-2024</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae magni sapiente molestiae, modi enim natus, optio labore non culpa debitis dignissimos sit eius. Repudiandae itaque reiciendis voluptatum animi ratione impedit!</p>
                        <form action="">
                            <div>
                                <label for="talles">Seleccionar talle</label>
                                <select name="talles" id="talles">
                                    <option value="s">S</option>
                                    <option value="m">M</option>
                                    <option value="l">L</option>
                                    <option value="xl">XL</option>
                                    <option value="xxl">XXL</option>
                                </select>
                            </div>
                            <input type="submit" value="Agregar al carrito">
                        </form>
                    </div>
                </div>
            </section>
            <section class="main__otros-productos">
                <h2>Tambien te puede interesar</h2>
                <div class="container main__otros-productos-container">
                    <div class="main__product">
                        <img src="images/camiseta-river.png" alt="imagen camiseta">
                        <h3>River Plate 2023/2024</h3>
                        <p>$40.000</p>
                        <a href="#">Ver producto</a>
                    </div>
                    <div class="main__product">
                        <img src="images/camiseta-arsenal.png" alt="imagen camiseta">
                        <h3>River Plate 2023/2024</h3>
                        <p>$40.000</p>
                        <a href="#">Ver producto</a>
                    </div>
                    <div class="main__product">
                        <img src="images/camiseta-chelsea.png" alt="imagen camiseta">
                        <h3>River Plate 2023/2024</h3>
                        <p>$40.000</p>
                        <a href="#">Ver producto</a>
                    </div>
                </div>
            </section>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>