<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {titulo:'Gol de Oro - Home', estilos:'index.css'}) %>
    <body>
        <%- include('../partials/header.ejs') %>
        <div class="hero">
        </div>
        <section class="header__hero-benefits">
            <div class="header__hero-benefits-container">
                <div>
                    <i class="fa-solid fa-truck"></i>
                    <h3>ENVIOS A TODO EL PAIS</h3>
                    <p>COMPRÁ DESDE TU CASA</p>
                </div>
                <div class="header__hero-benefits-card">
                    <i class="fa-solid fa-credit-card"></i>
                    <h3>HASTA 6 CUOTAS</h3>
                    <p>CON TODAS LAS TARJETAS</p>
                </div>
                <div>
                    <i class="fa-solid fa-shield-halved"></i>
                    <h3>COMPRA SEGURA</h3>
                    <p>PROTEJEMOS TUS DATOS</p>
                </div>
            </div>
        </section>
        <main class="main container">
            <h2 class="main__heading">NUEVOS LANZAMIENTOS</h2>
            <div class="main__products-container">
                <div class="main__product">
                    <img src="images/camiseta-river.png" alt="imagen camiseta">
                    <h3>River Plate 2023/2024</h3>
                    <p>$40.000</p>
                    <a href="/detalle-producto">Ver producto</a>
                </div>
                <div class="main__product">
                    <img src="images/camiseta-arsenal.png" alt="imagen camiseta">
                    <h3>River Plate 2023/2024</h3>
                    <p>$40.000</p>
                    <a href="/detalle-producto">Ver producto</a>
                </div>
                <div class="main__product">
                    <img src="images/camiseta-chelsea.png" alt="imagen camiseta">
                    <h3>River Plate 2023/2024</h3>
                    <p>$40.000</p>
                    <a href="/detalle-producto">Ver producto</a>
                </div>
                <div class="main__product">
                    <img src="images/camiseta-bournemounth.png" alt="imagen camiseta">
                    <h3>River Plate 2023/2024</h3>
                    <p>$40.000</p>
                    <a href="/detalle-producto">Ver producto</a>
                </div>
                <div class="main__product">
                    <img src="images/camiseta-inter.png" alt="imagen camiseta">
                    <h3>River Plate 2023/2024</h3>
                    <p>$40.000</p>
                    <a href="/detalle-producto">Ver producto</a>
                </div>
                <div class="main__product">
                    <img src="images/camiseta-boca.png" alt="imagen camiseta">
                    <h3>River Plate 2023/2024</h3>
                    <p>$40.000</p>
                    <a href="/detalle-producto">Ver producto</a>
                </div>
            </div>
        </main>
        
        <%- include('../partials/footer.ejs') %>

    </body>
        
        
</html>
